# django
SECRET_KEY='django-insecure-61ij(vpcpk=my#t)y-0^46!+3+qypr4#&_a72^vg$ab)jzf2w^'
DEBUG=False
ALLOWED_HOSTS=*

EMAIL_HOST=it.ivc.vsmpo.ru
EMAIL_PORT=25
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

REDIS_URL=redis://redis:6379/1

# database
PG_HOST=db
PG_PORT=5432
PG_USER=tray
PG_PWD=tray
PG_DBNAME=library
