# django project settings
SECRET_KEY=your_secret_key
DEBUG=your_debug_setting # True/False

# database
PG_HOST=your_postgresql_host
PG_PORT=your_postgresql_port
PG_USER=your_postgresql_user
PG_PWD=your_postgresql_user_password

PG_DEFAULT_DBNAME=your_django_project_database
PG_STUDENTS_DBNAME=students_database
PG_LIBRARY_DBNAME=library_database


