# django project settings
SECRET_KEY=your_secret_key
DEBUG=your_debug_setting

# database
PG_HOST=your_postgresql_host
PG_PORT=your_postgresql_port
PG_USER=your_postgresql_user
PG_PWD=your__postgresql_user_password
PG_DBNAME=your__postgresql_database_name
