<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student info</title>
</head>
<body>
    <h1>Информация о студенте:</h1>
    <!--
    <p>Имя: {{ student_name }}</p>
    <p>Курс: {{ student_year }}</p>
    -->
    <p>Имя: {{ student.first_name }}</p>
    <p>Фамилия: {{ student.last_name }}</p>
    <p>Курс: {{ student.get_year_display }}</p>
    <p>Фотография: <img src="{{ student.photo.url }}" alt="{{ student.first_name }} {{ student.last_name }}"></p>
</body>
</html>