{% extends "students/base.html" %}

{% block title %}Список студентов{% endblock %}

{% block content %}
{% include "students/header.html" %}

<div>
    <h2 class="mb-4">Список студентов</h2>
    <a class="btn btn-sm btn-secondary ml-3 mb-2" href="{% url 'students:student_create' %}">Добавить</a>
</div>
<ul class="list-group">
    {% for student in students %}
    <li class="list-group-item d-flex justify-content-between align-items-center
                    {% if student.year == 'first'%}list-group-item-primary
                    {% elif student.year == 'second'%}list-group-item-success
                    {% elif student.year == 'third'%}list-group-item-warning
                    {% elif student.year == 'fourth'%}list-group-item-danger
                    {% endif %}">
        <a href="{% url 'students:student_detail' student.pk %}">{{student.first_name }} {{ student.last_name }}</a>
        <span class="badge bg-primary text-white rounded-pill">
                    {% if student.year == 'first'%}
                        Первый курс
                    {% elif student.year == 'second'%}
                        Второй курс
                    {% elif student.year == 'third'%}
                        Третий курс
                    {% elif student.year == 'fourth'%}
                        Четвёртый курс
                    {% endif %}
                </span>
        <a class="btn btn-sm btn-secondary ml-3" href="{% url 'students:student_edit' student.pk %}">Редактировать</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
